# Exercise on List and Tuple

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4,5,6,7,8,9,10]

In [1]:
#Write your code here
nums=[1,2,3,4,5,6,7,8,9,10]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**`Question:`** Remove number "3" in a list**

In [3]:
#Write your code here
nums=[1,2,3,4,5,6,7,8,9,10]
nums.remove(3)
print(nums)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [14]:
#Write your code here
lst=[2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [15]:
#Write your code here
lst.insert(2,"two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [16]:
#Write your code here
phrase ="Don't panic!"
phrase_list=list(phrase)
print(phrase_list)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [17]:
#Write your code here
phrase_list.remove("'")
phrase_list.remove("!")
print(phrase_list)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Join the given list `['p', 'a', 'n', 'D', 'a']`**

In [21]:
#Write your code here
a=['p', 'a', 'n', 'D', 'a']
b="".join(a)
print(b)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 10,20,30,40,55,50 as nums**

In [23]:
#Write your code here
nums=10,20,30,40,55,50
print(nums)
type(nums)

(10, 20, 30, 40, 55, 50)

tuple

**`Question:` Remove number "55" in a tuple**

*Hint:* Convert into list

In [31]:
#Write your code here
nums=10,20,30,40,55,50
lst=list(nums)
lst.remove(55)
nums_update=tuple(lst)
print(nums_update)

(10, 20, 30, 40, 50)

`Question:` Write a Python program to count the occurrences of a specific element in a tuple.

`Example:` tup = (1, 2, 3, 4, 2, 2, 5)

In [32]:
#Write your code here
tup=(1, 2, 3, 4, 2, 2, 5)
tup_count=tup.count(2)
print(tup_count)

3

`Question:` Write a Python program to find the index of the first occurrence of an element in a tuple.

`Example:` tup = (10, 20, 30, 40, 50)

In [33]:
#Write your code here
tup=(10, 20, 30, 40, 50)
tp=tup.index(20)
print(tp)

1

`Question:` Write a Python program to concatenate two tuples into a new tuple.

`Example:` tup1 = (1, 2, 3) and tup2 = (4, 5, 6)

In [34]:
#Write your code here
tup1=(1, 2, 3)
tup2=(4, 5, 6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

`Question:` Write a Python program to repeat a tuple three times to create a new tuple.

`Example:` tup = (1, 2)

In [35]:
#Write your code here
tup=(1,2)
tup_new=tup*3
print(tup_new)

(1, 2, 1, 2, 1, 2)



`Question:` Write a Python program to slice a tuple to get a specific portion of it.

`Example:` tup = (10, 20, 30, 40, 50)

`Output:` (20, 30, 40)

In [44]:
#Write your code here
tup=(10,20,30,40,50)
tup_new=tup[1:4]
print(tup_new)

(20, 30, 40)