# Exercise on Sets

###  Sets



**`Question:`** Create a set called "s" containing the following elements:

3, 4, 'data', 'science'

In [18]:
# CODE HERE
s={3,4,'data','science'}
s

{3, 4, 'data', 'science'}

**`Question:`** Add the element 'MachineLearning' to the set "s".

In [3]:
# CODE HERE

In [19]:
s.add('MachineLearning')
s

{3, 4, 'MachineLearning', 'data', 'science'}

**`Question:`** Create another set called "sc" with the following elements:

3, 4, 'data', 'MachineLearning'

In [4]:
# CODE HERE

In [20]:
sc={3,4,'data','MachineLearning'}
sc

{3, 4, 'MachineLearning', 'data'}

**`Question:`** Find the difference between the two sets "s" and "sc".

`s - sc`

In [5]:
# CODE HERE

In [21]:
set=s.difference(sc)
set

{'science'}

> **`Question:` remove 2 from set s**

In [6]:
# CODE HERE

In [22]:
s.remove(2)   # Their is no 2 in s set
s

KeyError: 2

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [7]:
# CODE HERE

In [23]:
print(s&sc)

{3, 'MachineLearning', 4, 'data'}

> **`Question:`Print all element in two sets**

s union sc

In [8]:
# CODE HERE

In [26]:
print(s.union(sc))

{3, 4, 'data', 'MachineLearning', 'science'}

**`Question:`** Add a list of elements to a set  
- `vegetables = {"carrot", "potato", "tomato"}`  
- `more_vegetables = ['onion', 'broccoli', 'spinach']`

In [9]:
# CODE HERE

In [55]:
vegetables = {"carrot","potato","tomato"}
more_vegetables = ['onion','broccoli','spinach']

combined_set=vegetables.union(more_vegetables)
print(combined_set)

{'potato', 'spinach', 'carrot', 'tomato', 'broccoli', 'onion'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [10]:
# CODE HERE

In [43]:
set1={10,20,30,40,50}
set1.difference_update({10,20,30})
set1

{40, 50}