# Pandas Data Manipulation Exercise

## Objective

This Exercise will help you gain hands-on experience with key Pandas operations, including data creation, exploration, filtering, slicing, merging, concatenating, and grouping data. Each task aims to build foundational skills in manipulating data using Pandas.

## Instructions

Complete each task sequentially, answering all questions.
Add comments to explain your code where necessary.
Submit your work as a Jupyter Notebook (.ipynb) or a Python script (.py).

In [255]:
import pandas as pd

## Dataset Setup
#### **Create a DataFrame df_sales using the following data:** ####
                
| Order_ID | Product     | Category    | Quantity | Price | Store_Location |
|----------|-------------|-------------|----------|-------|----------------|
| 1        | Laptop      | Electronics | 3        | 800   | New York       |
| 2        | Headphones  | Electronics | 5        | 150   | San Francisco  |
| 3        | Chair       | Furniture   | 10       | 85    | New York       |
| 4        | Desk        | Furniture   | 2        | 200   | Chicago        |
| 5        | Monitor     | Electronics | 4        | 300   | San Francisco  |
| 6        | Lamp        | Furniture   | 7        | 40    | New York       |
| 7        | Smartphone  | Electronics | 6        | 600   | Chicago        |
| 8        | Sofa        | Furniture   | 1        | 500   | San Francisco  |

In [256]:
# Create a DataFrame using pandas library

# CODE HERE
df={'Order_ID':[1,2,3,4,5,6,7,8],
    'Product':['Laptop','Headphones','Chair','Desk','Monitor','Lamp','Smartphone','Sofa'],
    'Category':['Electronics','Electronics','Furniture','Furniture','Electronics','Furniture','Electronics','Furniture'],
    'Quantity':[3,5,10,2,4,7,6,1],
    'Price':[800,150,85,200,300,40,600,500],
    'Store_Location':['New York','San Francisco','New York','Chicago','san Francisco','New York','Chicago','San Francisco']
   }

df_sales=pd.DataFrame(df)
df_sales

   Order_ID     Product     Category  Quantity  Price Store_Location
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  san Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

## Tasks and Questions

#### Task 1: Basic DataFrame Information

1.Display the first 5 rows and last 5 rows of df_sales using .head() and .tail().

**Question:** What are the products listed in the first and last rows?

In [257]:
# CODE HERE

#df_sales.tail(5)
df_sales.head(5)

   Order_ID     Product     Category  Quantity  Price Store_Location
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  san Francisco

### **Data Structure**

Use .size, .shape, and .ndim to find the total number of elements, the number of rows and columns, and the dimensions of df_sales.

**Question:** How many rows and columns are in df_sales?

In [258]:
# CODE HERE
print('The size of df_sales: ',df_sales.size)
print('The shape of df_sales: ',df_sales.shape)
print('The dimension of df_sales: ',df_sales.ndim)

The size of df_sales:  48
The shape of df_sales:  (8, 6)
The dimension of df_sales:  2

#### Column Information
Use .columns and .dtypes to check the column names and data types.

**Question:** Which columns contain numeric data?

In [259]:
# CODE HERE
data_types = df_sales.dtypes
data_types

Order_ID           int64
Product           object
Category          object
Quantity           int64
Price              int64
Store_Location    object
dtype: object

## Task 2: Descriptive Statistics
#### Summary Statistics

Use .describe() to view summary statistics for numeric columns.
**Question:** What is the average quantity sold? What is the maximum price?

In [260]:
# CODE HERE

In [261]:
avg_quantity_sold=sum(df_sales['Quantity'])/len(df_sales['Order_ID'])
avg_quantity_sold

4.75

In [262]:
max_price=max(df_sales['Price'])
max_price

800


#### Missing Values

Use .info() to get a concise summary of df_sales.
Question: Are there any missing values?

In [263]:
# CODE HERE
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_ID        8 non-null      int64
 1   Product         8 non-null      object
 2   Category        8 non-null      object
 3   Quantity        8 non-null      int64
 4   Price           8 non-null      int64
 5   Store_Location  8 non-null      object
dtypes: int64(3), object(3)
memory usage: 516.0+ bytes

#### Min and Max Price
Find the minimum, maximum, average values of the Price column.

Question: What is the lowest price and which product has it?

In [264]:
# CODE HERE

In [265]:
min_price=min(df_sales['Price'])
max_price=max(df_sales['Price'])
avg_price=sum(df_sales['Price'])/len(df_sales['Price'])

product_with_min_price = df_sales[df_sales["Price"] == min_price]["Product"].iloc[0]

print('max_price: ',min_price)
print('max_price: ',max_price)
print('avg_price: ',avg_price)
print("Product with the lowest price:", product_with_min_price)

max_price:  40
max_price:  800
avg_price:  334.375
Product with the lowest price: Lamp

## Task 3: Filtering and Slicing

#### **Filter by Category**

Filter rows where Category is "Electronics".

**Question:** How many electronic products are in the dataset?

In [266]:
# CODE HERE

In [267]:
category_el=df_sales[df_sales['Category']=='Electronics']
print(category_el)

count_electronics=category_el.shape[0]

print('Count of electroic product in dataset: ',count_electronics)

   Order_ID     Product     Category  Quantity  Price Store_Location
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
4         5     Monitor  Electronics         4    300  san Francisco
6         7  Smartphone  Electronics         6    600        Chicago
Count of electroic product in dataset:  4

#### Filter by Price

Filter rows where Price is above 300.

**Question:** What products have a price greater than 300?

In [268]:
# CODE HERE
above_300=df_sales[df_sales['Price']>300]
product=above_300['Product']

print('Product above 300 price:\n ',product.unique())

Product above 300 price:
  ['Laptop' 'Smartphone' 'Sofa']


#### Filter by Location
Filter rows for orders from "New York".

**Question:** How many orders were made from "New York"?

In [269]:
# CODE HERE
order=df_sales[df_sales['Store_Location']=='New York']

count=len(order)
print('The numbers of product order in New York: ',count)

The numbers of product order in New York:  3

## Indexing and Slicing

Select only the Product and Quantity columns for the first 5 rows.

**Question:** What are the names and quantities of the first five products?

In [270]:
# CODE HERE
pd_qt=df_sales.loc[:4,['Product','Quantity']]
print('The names and quantity of first five products: \n',pd_qt)

The names and quantity of first five products:
       Product  Quantity
0      Laptop         3
1  Headphones         5
2       Chair        10
3        Desk         2
4     Monitor         4

## Advanced Filtering
Select rows where Category is "Furniture" and Quantity is more than 5.

**Question:** How many furniture items have quantities greater than 5?

In [271]:
# CODE HERE

In [272]:
furniture_more_than5=df_sales[(df_sales['Category']=='Furniture') & (df_sales['Quantity']>5)]

print("Furniture items with quantities greater than 5:\n",furniture_more_than5)

Furniture items with quantities greater than 5:
    Order_ID Product   Category  Quantity  Price Store_Location
2         3   Chair  Furniture        10     85       New York
5         6    Lamp  Furniture         7     40       New York

## Task 4: Adding and Modifying Columns

#### Add Total Price Column

Add a new column called Total_Price, calculated as Quantity * Price.

**Question:** What is the total price for each product?

In [273]:
# CODE HERE

In [274]:
df_sales['Total_price']=df_sales['Quantity']*df_sales['Price']

In [275]:
print(df_sales[['Product','Total_price']])

      Product  Total_price
0      Laptop         2400
1  Headphones          750
2       Chair          850
3        Desk          400
4     Monitor         1200
5        Lamp          280
6  Smartphone         3600
7        Sofa          500

#### Add Price Category


Add a new column called Price_Category, labeling products as "High" if Price > 300 and "Low" otherwise.

**Question:** How many products fall into each price category?

In [276]:
# CODE HERE

In [277]:
df_sales['Price_category']=['High'if Price>300 else 'Low' for Price in df_sales['Price']]

In [278]:
print('Products fall in more price than 300: ',df_sales[['Category','Price_category']])

Products fall in more price than 300:        Category Price_category
0  Electronics           High
1  Electronics            Low
2    Furniture            Low
3    Furniture            Low
4  Electronics            Low
5    Furniture            Low
6  Electronics           High
7    Furniture           High






Task 5: Merging and Concatenation
Create a DataFrame df_discounts with the following data:


| Category           | Discount_Percentage |
|--------------------|---------------------|
| Electronics        | 10                  |
| Furniture          | 15                  |
| Clothing           | 20                  |
| Groceries          | 5                   |
| Toys               | 25                  |
| Books              | 30                  |
| Sports Equipment   | 12                  |
| Beauty             | 18                  |

In [285]:
# CODE HERE
df={'Category':['Electronics','Furniture','Clothing','Groceries','Toys','Books','Sport Equipment','Beauty'],
                'Discount_Percentage': [10, 15, 20, 5, 25, 30, 12, 18]
   }
df_discounts=pd.DataFrame(df)
print(df_discounts)

          Category  Discount_Percentage
0      Electronics                   10
1        Furniture                   15
2         Clothing                   20
3        Groceries                    5
4             Toys                   25
5            Books                   30
6  Sport Equipment                   12
7           Beauty                   18

## Merge DataFrames
Merge df_sales and df_discounts based on the Category column using a left join. Save the result as df_combined.

**Question:** How many rows are in df_combined?

In [286]:
# CODE HERE

In [287]:
df_combined=pd.merge(df_sales, df_discounts, on='Category', how="left")

print(df_combined)
num_rows = df_combined.shape[0]

print(f"\nNumber of rows in df_combined: {num_rows}")

   Order_ID     Product     Category  Quantity  Price Store_Location  \
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  san Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

   Total_price Price_category  Discount_Percentage
0         2400           High                   10
1          750            Low                   10
2          850            Low                   15
3          400            Low                   15
4         1200            Low                   10
5          280            Low                   15
6         3600           High                   10
7          500           High                   15

Number of rows in df_combined: 8

### Calculate Discounted Price
Add a new column called Discounted_Price in df_combined, using the formula: **Discounted_Price = Total_Price * (1 - Discount_Percentage / 100).**

In [290]:
# CODE HERE
df_combined['Discounted_Price']=df_combined['Total_price'] * (1 - df_combined['Discount_Percentage']/100) 
print(df_combined)

   Order_ID     Product     Category  Quantity  Price Store_Location  \
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  san Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

   Total_price Price_category  Discount_Percentage  Discounted_Price
0         2400           High                   10            2160.0
1          750            Low                   10             675.0
2          850            Low                   15             722.5
3          400            Low                   15             340.0
4         1200            Low                   10            1080.0
5          280            Low                   15             238.0
6         3600           High                   10            3240.0
7          500           High                   15             425.0


Question: What is the discounted price for each product?

Concatenate DataFrames
Concatenate df_sales with a new DataFrame df_extra_sales:

| Order_ID | Product     | Category    | Quantity | Price | Store_Location |
|----------|-------------|-------------|----------|-------|----------------|
| 1        | Laptop      | Electronics | 3        | 800   | New York       |
| 2        | Headphones  | Electronics | 5        | 150   | San Francisco  |
| 3        | Chair       | Furniture   | 10       | 85    | New York       |
| 4        | Desk        | Furniture   | 2        | 200   | Chicago        |
| 5        | Monitor     | Electronics | 4        | 300   | San Francisco  |
| 6        | Lamp        | Furniture   | 7        | 40    | New York       |
| 7        | Smartphone  | Electronics | 6        | 600   | Chicago        |
| 8        | Sofa        | Furniture   | 1        | 500   | San Francisco  |
| 9        | Table       | Furniture   | 2        | 150   | Chicago        |
| 10       | Speaker     | Electronics | 3        | 200   | San Francisco  |


Question: After concatenation, how many total rows are in the updated DataFrame?

In [298]:
# CODE HERE
df_extra_sales = pd.DataFrame({
    'Order_ID': [9, 10],
    'Product': ['Table', 'Speaker'],
    'Category': ['Furniture', 'Electronics'],
    'Quantity': [2, 3],
    'Price': [150, 200],
    'Store_Location': ['Chicago', 'San Francisco']
})

df_updated=df_updated = pd.concat([df_sales, df_extra_sales], ignore_index=True)

total_rows = df_updated.shape[0]

print(f"Total number of rows after concatenation: {total_rows}")

Total number of rows after concatenation: 10

# Task 6: Grouping and Aggregation

#### Group by Category


Group by Category to find the total quantity sold and average price per category.

**Question:** Which category sold the highest quantity overall?

In [299]:
# CODE HERE

In [323]:
category_quantity=df_sales.groupby('Category')['Quantity'].sum()
highest_category=category_quantity.idxmax()
highest_quantity = category_quantity.max()

In [325]:
print(f"The category with the highest quantity sold is: {highest_category} ({highest_quantity} units)")

The category with the highest quantity sold is: Furniture (20 units)

#### Group by Store Location
Group by Store_Location to find the total quantity sold and total Total_Price at each location.

**Question:** Which store location generated the highest revenue?

In [300]:
# CODE HERE

In [332]:
store_location=df_sales.groupby('Store_Location')['Total_price'].sum()
highest_sales_location=store_location.idxmax()
highest_sales=store_location.max()

print('Store Location which generated the highest_revenue: ',highest_sales_location,highest_sales)

Store Location which generated the highest_revenue:  Chicago 4000

#### Discounted Revenue Calculation
Using df_combined, group by Category and calculate the average Discounted_Price and the total revenue after discounts.

**Question:** What is the total discounted revenue for the "Electronics" category?

In [301]:
# CODE HERE

In [338]:
electronics_df=df_combined[df_sales['Category']=='Electronics']

total_discounted_revenue=electronics_df['Discounted_Price'].sum()

print('The discounted revenue for the Electronics: ',total_discounted_revenue)

The discounted revenue for the Electronics:  7155.0